<a href="/">
    <h1 style="text-align: center;">HOME</h1>
</a>
<form action="./add_product" method="POST">

    <div class="container-fluid demo  border border-info">

        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8" id="fe">
                <h1 style="text-align: center;">Add Product To {{name}}</h1>
            </div>
        </div>


        

        <div class="row">
            <div class="col-md-2">
            </div>
            <div class="col-md-4">
                <div class="col-md-8" id="fe">
                    <h4 style="text-align: justify; font-size: 1.2em">Enter Quantity</h4>
                </div>
                <textarea class="text"
                    style="margin:auto;text-align:center; font-style: oblique;font-weight: 500; color: blue;" rows="1"
                    name="qty"></textarea>
            </div>
            <div class="col-md-4">
                <div class="col-md-8" id="fe">
                    <h4 style="text-align: justify; font-size: 1.2em">Enter Quantity</h4>
                </div>
                <textarea class="text"
                    style="margin:auto;text-align:center; font-style: oblique;font-weight: 500; color: blue;" rows="1"
                    name="unit_price"></textarea>
            </div>
            <div class="col-md-2">
            </div>

        </div>

        <div class="row">
            <div class="col-md-4">
            </div>
            <div class="col-md-2">
            </div>
            <div class="col-md-4">
                <button class="btn btn-1 btn-sep icon-info " class="btn" type="submit">Submit</button>
            </div>
</form>
</div>