<style>
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
h3{
  font-family: 'Fjalla One', sans-serif;
}
h1, h2, h3 {
  text-align:center;
}
</style>

  <div class="entry">
    
    <a href="/"><h1>ADMIN</h1></a>
    <h2 style="font-size:2.5rem;">Deals For This Shop</h2>
  <table>
    <tr>
       <h3 style="color: aliceblue;">Get {{qauntity}} For {{price}} times</h3>
    </tr>

</table>